---

- name: Download Guacamole
  get_url: 
    url: https://archive.apache.org/dist/guacamole/1.6.0/source/guacamole-server-1.6.0.tar.gz
    dest: /tmp/guacamole-server-1.6.0.tar.gz

- name: Extract the source tarball after download
  ansible.builtin.unarchive:
    src: /tmp/guacamole-server-1.6.0.tar.gz
    dest: /tmp/
    remote_src: yes
    creates: /tmp/guacamole-server-1.6.0

- name: Configure Guacamole
  ansible.builtin.command:
    cmd: ./configure --with-init-dir=/etc/init.d
    chdir: /tmp/guacamole-server-1.6.0
    creates: /tmp/guacamole-server-1.6.0/config.status

- name: Build Guacamole
  ansible.builtin.command:
    cmd: make
    chdir: /tmp/guacamole-server-1.6.0
    creates: /tmp/guacamole-server-1.6.0/src/protocols/rdp/.libs/libguacrdp.so

- name: Install Guacamole
  ansible.builtin.command:
    cmd: sudo make install
    chdir: /tmp/guacamole-server-1.6.0
    creates: /usr/local/sbin/guacd

- name: Run ldconfig
  ansible.builtin.command:
    cmd: sudo ldconfig

- name: System daemon reload
  become: true
  systemd:
    daemon_reload: yes

- name: Enable guacd
  become: true
  systemd:
    name: guacd
    enabled: yes
 
- name: Restart guacd
  become: true
  systemd:
    name: guacd
    state: restarted